<!-- Under Cunstruction 
go to <a routerLink="/dash">dash...</a> -->



<div class="width_100 body_d">
    <div class="overlay"></div>
    <div class="stars" aria-hidden="true"></div>
    <div class="starts2" aria-hidden="true"></div>
    <div class="stars3" aria-hidden="true"></div>
    <main class="main">
        <section class="contact">
            <h1 class="title">Hardknox Panel</h1>
            <h2 class="sub-title">Site Under Construction</h2>
            <h3 class="sub-title gotodash" routerLink="/dash">Go to dashbord...</h3>
        </section>
    </main>
</div>